header{
	color:green;
	text-align: center;
	font-size: 2em;
}
h2{
	position: relative;
	text-align: center;
	font-size:1.6em;
	color:red;
}
h2:nth-of-type(2){padding-top:15px; color:#B80000 ;}
code{
	position: relative;
	left:10%;
	color:darkgreen;	
	font-size: .9em;
}
h3{
	position:relative;
	text-align: center;
	font-size:1em;
}
code:last-of-type{
	color:black;
}
#fixWidth{
	position: absolute;
	width:1017px;
}
.container{
	width:800px;
}
