<!DOCTYPE html>
<html>
<head>
	<title>FCC-IMG-ABS</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="cssFile.css">
</head>
<body>
<div class= "container">
<header>API Basejump: Image Abstraction</header>
	
</div>
<h2>Example query usage:</h2>
<h3>search for lolcat</h3>
<code>use https://fcc-img-abs.herokuapp.com/api/imagesearch/[searchterm]?offset=# i.e. https://fcc-img-abs.herokuapp.com/api/imagesearch/lolcat?offset=3</code><br>
<h3>view search history</h3>
<code id="fixWidth">https://samwise12-timestamp.herokuapp.com/api/latest/imagesearch</code>

</body>
</html>